@use '@/styles/variables.scss' as *;

.sectionCard {
  background: $color-card-bg;
  border-radius: 12px;
  border: 1px solid $color-border;
  padding: 25px 24px 33px 24px;
  box-shadow: $box-shadow;
  margin-bottom: 17px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.sectionTitle {
  margin: 0;
  font-size: $font-size-base;
  font-weight: 600;
}

.detailsGrid {
  display: grid;
  row-gap: 20px;
}

.row {
  display: grid;
  grid-template-columns: 172px 1fr;
  align-items: center;
}

.label {
  color: $color-text-secondary;
  font-size: 13px;
}

.value {
  color: $color-text-primary;
}

.separator {
  display: inline-block;
  margin: 0 8px;
  color: $color-text-secondary;
}

.agreementDate {
  color: $color-text-primary;
}

.cancelBtn {
  margin-left: 8px;
}
